@font-face {
    font-family: 'Inter-Medium';
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}